body{

 background-color: rgb(30, 30, 39);
 color: white;
}

a {
  color: inherit;
  text-decoration: none;
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


.navslide{
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    
    border-left: 2px solid white;   
    
}
.navcont{

color: white;
text-align: left;
margin-left: 10px ;
font-size: 30px;
margin-top: 30px;
margin-bottom: 20px;

}
.title1{
  
  margin-top: 30px;
  color: white;
  font-size: 50px;
  font-family: math;
  margin-right: 300px;
  text-align: left;
}

.title{
  
  margin-top: 50px;
  color: white;
  font-size: 40px;
  font-family: math;
  margin-right: 300px;
  text-align: left;
}

p{

color: white;
font-family: math;
display: block;
margin: auto;
margin-top: 40px;
margin-right: 780px;
margin-bottom: 40px;
font-size:25px;

}

.p2{

  color: white;
  font-family: math;
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-right: 500px;
  margin-bottom: 40px;
  margin-left: 10px;
  font-size:45px;
  }
  